{% load static %}
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Adrien WebSite</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'core/favicon.png' %}"/>
    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie != '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) == (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
    </script>
    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
</head>

<body>

{% block content %}{% endblock %}

{% block scripts %}{% endblock %}
</body>
</html>
